<html>
	 <STYLE type="text/css">
	 	body{
	 		font-family: Arial, helvetica, sans-serif !important;
	 		size: 12px;
	 	}
	 	h2 {
	 		font-family: Arial, helvetica, sans-serif !important;
	 		size: 14px;
	 		color: #8B2323 !important;
	 		text-align: center !important;
	 	}
	 	td {
	 		text-align: center;
	 	}
  	</STYLE>
    <body>
    	</br></br>
    	<h2>A movimentação detalhada abaixo, possui produtos com estoque em alerta!</h2>
    	</br></br>
        <table border="1" cellspacing="0" cellpadding="3">
            <tr>
            	<td>Movimentação</td>
                <td style="font-weight: 700">Núm:</td>
                <td>$movimentacao.id</td>
                <td style="font-weight: 700">Descrição:</td>
                <td>$movimentacao.descricao</td>
            </tr>
            <tr>
                
            </tr>
            
        </table>
        
        <br/>
        <table border="1" cellspacing="0" cellpadding="3">
        	<tr>
        		<th colspan="3" style="text-align: center">Produto(s)</th>
        	</tr>
            <tr>
            	<th>Número</th>
                <th>Descrição</th>
                <th>Estoque Atual</th>
            </tr>
            #foreach ($item in $produtos)
            	#if ($item.movimentacao.id)
	            <tr>
	            	<td>$item.produto.id</td>
	                <td>$item.produto.nome</td>
	                <td>$item.produto.quantidade</td>
	            </tr>
	            #end
            #end
        </table>
    </body>
</html>