@CHARSET "UTF-8";

h1 {
	font-family: latoregular, "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
	color: #1AA095;
	font-size: 28px:
}

/* Tamanho da fonte do primefaces */
.ui-widget, .ui-widget .ui-widget {
	font-size: 14px !important; /*pode ser px para informar */
}

#geral {
	width: 1024px !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.logoTexto {
	font-family: latoregular, "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: white;
	font-size: 16;
	font-weight: bold;
	padding-left: 50px;
	position: absolute;
	padding-top: 24px;
	padding-left: 50px;
}

.logoImg {
	position: absolute;
	padding-top: 15px;
	padding-left: 16px;
}

#topo {
	background-color: #1AA095;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 62px;
}

#cabecalho {
	padding-top: 14px;
	padding-bottom: 5px;
}

/* Alterando css do menubar - Inicio */
.ui-menu.ui-menubar {
	padding-right: 10px !important;
	padding-left: 10px;
	background-color: none !important;
	background-image: none;
	background-image: none !important;
	background-image: none !important;
	background-image: none !important;
	background-image: none !important;
	background-repeat: none !important;
	border: none !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.ui-menu.ui-menubar .ui-menu-parent .ui-menu-child {
	padding: 5px 0;
}

.ui-menu.ui-menubar {
	background-color: #1AA095 !important;
}

.ui-menubar {
	width: 338px !important;
	border: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.ui-menu-list {
	background-color: #1AA095 !important;
	box-shadow: none !important;
	border: none !important;
	box-shadow: none !important;
	width: auto !important;
	border: none !important;
	font-family: Arial, helvetica, sans-serif !important;
	font-size: 14px !important;
}

.ui-menuitem {
	
}

ul li.ui-menuitem-active>a {
	background-image: none !important;
	background-color: #0ed8d2 !important;
}

.ui-menuitem-text {
	font-family: Arial, helvetica, sans-serif !important;
	font-size: 14px !important;
}

/* Alterando css do menubar - Inicio */
.ajax-status {
	position: absolute;
	top: 100px;
	right: 10px;
	width: 35px;
	height: 35px
}

.colum1 {
	text-align: right;
}

.afasta {
	padding-right: 20px;
}

.semBorda tr, .semBorda td {
	border: none !important;
	align: center !important;
}

.crud1 {
	margin-left: 5px;
	height: 31px;
}

.crud2 {
	display: inline-block;
	vertical-align: top;
}